/* LET'S MAKE IT COLORFUL!

Red: #ED193A rgba(237,25,58,1)
Gray: #3D3D3D rgba(61,61,61,1)
Off-White: #E6E6E6 rgba(230,230,230,1)
Light Blue: #01C0EB rgba(1,192,235,1)
Light Green: #66EF55 rgba(102,239,85,1)

 */



/* ==== HEADER STUFF ==== */

.header{
	background-color:black;
}

h1 {
	font-size:1.2em;
	text-align:center;
	color:white;
}

/* ==== CALORIES ==== */

h2 {
	font-size:1.5em;
	color:green;
	text-align:right;
}

/* ==== DETAIL FOOD ITEM ==== */

h3 {
	font-size:1.5em;
}

/* ==== MEAL STUFF ==== */

.meals {
	background-color:blue;
	color:white;
	border-bottom:1px solid white;
}

.RED {
	color:red;
}

/* ==== ALIGN IT TO THE RIGHT! ==== */

.textRight {
	text-align:right;
}

/* ==== INPUTS ==== */

input.number, input.setting {
	text-align:right;
}

input.number{
	width:35px;
}

input.userSearch {
	width:50%;
}

input.setting{
	width:70px;
}

/* ==== NAV STUFF ==== */

.extraSpace {
	height:60px;
}

nav {
	text-align:center;
	background-color:black;
	position:fixed;
	width:100%;
	bottom:-1px;
	left:0;
}

nav div div {
	border:1px solid white;
	padding:1em;
}

nav a {
	color:white;
}