<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Health App</title>

		<!-- Add Script and CSS here you fools! DO IT NAOW! -->
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.2.0-rc.3/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/templateController.js"></script>
			
	</head>

	<body>
		
		<div ng-controller="templateController" >
			<span ng-model="template">
			  URL of the template: <tt>{{template.url}}</tt>
			  <hr />
			  <span class="exmaple-animate-container" ng-include="template.url"
			</span>
		</div>


			<nav>
				<p>
					<a href="/">Diary</a>
				</p>
				<p>
					<a href="">Nutrition</a>
				</p> 
				<p>
					<a href="">Settings</a>
				</p>
			</nav>
		</div>
	</body>
</html>
