<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Health App</title>

		<!-- Add Script and CSS here you fools! DO IT NAOW! -->
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/handlebars.js"></script>
		
			
	</head>

	<body>
		<div>
			



			<nav>
				<p>
					<a href="/">Diary</a>
				</p>
				<p>
					<a href="">Nutrition</a>
				</p> 
				<p>
					<a href="">Settings</a>
				</p>
			</nav>
		</div>
	</body>
</html>
