<header class="row">	
	<button class="col-xs-2">Edit</button>
	<h1>Daily Food Diary</h1>
</header>
	
<div class="row">
	<div class="leftArrow col-xs-1"></div>
	<div class="today col-xs-10">Thur. Oct. 31, 2013</div>
	<div class="rightArrow col-xs-1"></div>
</div>

<div>
	<div class="row">
		<div class="col-xs-8">Calories left:</div><div class="col-xs-4">{{ 1200 }}</div>
	</div>
	<progress class="row">75%</progress>
</div>

<div class="infoBar row">
	<div class="col-xs-6">Food Item</div>
	<div class="col-xs-3">Servings</div>
	<div class="col-xs-3">Calories</div>
</div>

<article>
	<div class="row">
		<h5 class="col-xs-10">Breakfast</h5>
		<button class="col-xs-2">Add</button>
	</div>
	<div class="foodList row">
		<div class="col-xs-1"><img src="img/delete.png" alt="delete food item"></div>
		<div class="col-xs-5">Banana</div>
		<div class="col-xs-3"><a>1</a></div>
		<div class="col-xs-3">125</div>
	</div>
</article>
<article>
	<div class="row">
		<h5 class="col-xs-10">Lunch</h5>
		<button class="col-xs-2">Add</button>
	</div>
</article>
<article>
	<div class="row">
		<h5 class="col-xs-10">Dinner</h5>
		<button class="col-xs-2">Add</button>
	</div>
</article>
