<header>
	<span>Edit</span>
	<h1>Daily Food Diary</h1>
</header>

<div class="date">
	<div class="leftArrow"></div>
	<div class="today">Thur. Oct. 31, 2013</div>
	<div class="rightArrow"></div>
</div>

<div>
	<div>Calories left:</div><div>{{ 1200 }}</div>
	<progress>75%</progress>
</div>

<div class="infoBar">
	<div>Food Item</div>
	<div>Servings</div>
	<div>Calories</div>
</div>

<div class="mealList">
	<div>
		<h5>{{Breakfast,Lunch,Dinner,Snacks}}</h5>
		<span>Add</span>
	</div>
	<div class="foodList">
		<div><img src="delete.png" alt="delete food item"></div>
		<div>{{Banana}}</div>
		<div><a>1</a></div>
		<div>125</div>
	</div>
</div>