<header>
	<h1>Nutrition</h1>
</header>

<div class="date">
	<div class="leftArrow"></div>
	<div class="today"><script type="text/javascript">
		var today = new Date();
		document.write(today);
		</script></div>
	<div class="rightArrow"></div>
</div>

<div class="infoBar row">
	<div class="col-md-6">Food Item</div>
	<div class="col-md-3">Left</div>
	<div class="col-md-3">Total</div>
</div>

<div class="odd row">
	<div class="col-md-6">Calories</div>
	<div class="col-md-3">695</div>
	<div class="col-md-3">1505</div>
</div>
<div class="even row">
	<div class="col-md-6">Total Fat (g)</div>
	<div class="col-md-3">20</div>
	<div class="col-md-3">50</div>
</div>
<div class="odd row">
	<div class="col-md-6">Saturated (g)</div>
	<div class="col-md-3">20</div>
	<div class="col-md-3">20</div>
</div>
<div class="even row">
	<div class="col-md-6">Polyunsaturated (g)</div>
	<div class="col-md-3">5</div>
	<div class="col-md-3">5</div>
</div>
<div class="odd row">
	<div class="col-md-6">Monosaturated (g)</div>
	<div class="col-md-3">5</div>
	<div class="col-md-3">5</div>
</div>
<div class="even row">
	<div class="col-md-6">Trans (g)</div>
	<div class="col-md-3">000</div>
	<div class="col-md-3">000</div>
</div>
<div class="odd row">
	<div class="col-md-6">Cholesterol (mg)</div>
	<div class="col-md-3">000</div>
	<div class="col-md-3">000</div>
</div>
<div class="even row">
	<div class="col-md-6">Sodium (mg)</div>
	<div class="col-md-3">4000</div>
	<div class="col-md-3"></div>
</div>
<div class="odd row">
	<div class="col-md-6">Potassium (mg)</div>
	<div class="col-md-3"></div>
	<div class="col-md-3">3</div>
</div>
<div class="even row">
	<div class="col-md-6">Total Carbs (g)</div>
	<div class="col-md-3">20</div>
	<div class="col-md-3">60</div>
</div>
<div class="odd row">
	<div class="col-md-6">Dietary Fiber (g)</div>
	<div class="col-md-3">20</div>
	<div class="col-md-3">30</div>
</div>
<div class="even row">
	<div class="col-md-6">Sugars (g)</div>
	<div class="col-md-3">0</div>
	<div class="col-md-3">25</div>
</div>
<div class="odd row">
	<div class="col-md-6">Protein (g)</div>
	<div class="col-md-3">20</div>
	<div class="col-md-3">70</div>
</div>
<div class="even row">
	<div class="col-md-6">Vitamin A (%)</div>
	<div class="col-md-3">30</div>
	<div class="col-md-3">70</div>
</div>
<div class="odd row">
	<div class="col-md-6">Vitamin C (%)</div>
	<div class="col-md-3">40</div>
	<div class="col-md-3">60</div>
</div>
<div class="even row">
	<div class="col-md-6">Calcium (%)</div>
	<div class="col-md-3">1</div>
	<div class="col-md-3">1</div>
</div>
<div class="odd row">
	<div class="col-md-6">Iron (%)</div>
	<div class="col-md-3">1</div>
	<div class="col-md-3">1</div>
</div>