<div class="row header">
	<div class="col-md-12 col-xs-12"><h1>Nutrition</h1></div>
</div>

<div class="date row">
	<div class="leftArrow col-md-1 col-xs-1"><span class="glyphicon glyphicon-arrow-left"></span></div>
	<div class="today col-md-10 col-xs-10"><script type="text/javascript">
		var today = new Date();
		document.write(today);
		</script></div>
	<div class="rightArrow col-md-1 col-xs-1"><span class="glyphicon glyphicon-arrow-right"></span></div>
</div>

<div class="infoBar row">
	<div class="col-md-6 col-xs-6">Food Item</div>
	<div class="col-md-3 col-xs-3">Left</div>
	<div class="col-md-3 col-xs-3">Total</div>
</div>

<div class="odd row">
	<div class="col-md-6 col-xs-6">Calories</div>
	<div class="col-md-3 col-xs-3">695</div>
	<div class="col-md-3 col-xs-3">1505</div>
</div>
<div class="even row">
	<div class="col-md-6 col-xs-6">Total Fat (g)</div>
	<div class="col-md-3 col-xs-3">20</div>
	<div class="col-md-3 col-xs-3">50</div>
</div>
<div class="odd row">
	<div class="col-md-6 col-xs-6">Saturated (g)</div>
	<div class="col-md-3 col-xs-3">20</div>
	<div class="col-md-3 col-xs-3">20</div>
</div>
<div class="even row">
	<div class="col-md-6 col-xs-6">Polyunsaturated (g)</div>
	<div class="col-md-3 col-xs-3">5</div>
	<div class="col-md-3 col-xs-3">5</div>
</div>
<div class="odd row">
	<div class="col-md-6 col-xs-6">Monosaturated (g)</div>
	<div class="col-md-3 col-xs-3">5</div>
	<div class="col-md-3 col-xs-3">5</div>
</div>
<div class="even row">
	<div class="col-md-6 col-xs-6">Trans (g)</div>
	<div class="col-md-3 col-xs-3">000</div>
	<div class="col-md-3 col-xs-3">000</div>
</div>
<div class="odd row">
	<div class="col-md-6 col-xs-6">Cholesterol (mg)</div>
	<div class="col-md-3 col-xs-3">000</div>
	<div class="col-md-3 col-xs-3">000</div>
</div>
<div class="even row">
	<div class="col-md-6 col-xs-6">Sodium (mg)</div>
	<div class="col-md-3 col-xs-3">4000</div>
	<div class="col-md-3 col-xs-3">44</div>
</div>
<div class="odd row">
	<div class="col-md-6 col-xs-6">Potassium (mg)</div>
	<div class="col-md-3 col-xs-3">44</div>
	<div class="col-md-3 col-xs-3">3</div>
</div>
<div class="even row">
	<div class="col-md-6 col-xs-6">Total Carbs (g)</div>
	<div class="col-md-3 col-xs-3">20</div>
	<div class="col-md-3 col-xs-3">60</div>
</div>
<div class="odd row">
	<div class="col-md-6 col-xs-6">Dietary Fiber (g)</div>
	<div class="col-md-3 col-xs-3">20</div>
	<div class="col-md-3 col-xs-3">30</div>
</div>
<div class="even row">
	<div class="col-md-6 col-xs-6">Sugars (g)</div>
	<div class="col-md-3 col-xs-3">0</div>
	<div class="col-md-3 col-xs-3">25</div>
</div>
<div class="odd row">
	<div class="col-md-6 col-xs-6">Protein (g)</div>
	<div class="col-md-3 col-xs-3">20</div>
	<div class="col-md-3 col-xs-3">70</div>
</div>
<div class="even row">
	<div class="col-md-6 col-xs-6">Vitamin A (%)</div>
	<div class="col-md-3 col-xs-3">30</div>
	<div class="col-md-3 col-xs-3">70</div>
</div>
<div class="odd row">
	<div class="col-md-6 col-xs-6">Vitamin C (%)</div>
	<div class="col-md-3 col-xs-3">40</div>
	<div class="col-md-3 col-xs-3">60</div>
</div>
<div class="even row">
	<div class="col-md-6 col-xs-6">Calcium (%)</div>
	<div class="col-md-3 col-xs-3">1</div>
	<div class="col-md-3 col-xs-3">1</div>
</div>
<div class="odd row">
	<div class="col-md-6 col-xs-6">Iron (%)</div>
	<div class="col-md-3 col-xs-3">1</div>
	<div class="col-md-3 col-xs-3">1</div>
</div>