<header>
	<h1>Nutrition</h1>
</header>

<div class="date">
	<div class="leftArrow"></div>
	<div class="today">Thur. Oct. 31, 2013</div>
	<div class="rightArrow"></div>
</div>

<div class="infoBar">
	<div>Food Item</div>
	<div>Left</div>
	<div>Total</div>
</div>

<div class="odd">
	<div>Calories</div>
	<div></div>
	<div></div>
</div>
<div class="even">
	<div>Total Fat (g)</div>
	<div></div>
	<div></div>
</div>
<div class="odd">
	<div>Saturated (g)</div>
	<div></div>
	<div></div>
</div>
<div class="even">
	<div>Polyunsaturated (g)</div>
	<div></div>
	<div></div>
</div>
<div class="odd">
	<div>Monosaturated (g)</div>
	<div></div>
	<div></div>
</div>
<div class="even">
	<div>Trans (g)</div>
	<div></div>
	<div></div>
</div>
<div class="odd">
	<div>Cholesterol (mg)</div>
	<div></div>
	<div></div>
</div>
<div class="even">
	<div>Sodium (mg)</div>
	<div></div>
	<div></div>
</div>
<div class="odd">
	<div>Potassium (mg)</div>
	<div></div>
	<div></div>
</div>
<div class="even">
	<div>Total Carbs (g)</div>
	<div></div>
	<div></div>
</div>
<div class="odd">
	<div>Dietary Fiber (g)</div>
	<div></div>
	<div></div>
</div>
<div class="even">
	<div>Sugars (g)</div>
	<div></div>
	<div></div>
</div>
<div class="odd">
	<div>Protein (g)</div>
	<div></div>
	<div></div>
</div>
<div class="even">
	<div>Vitamin A (%)</div>
	<div></div>
	<div></div>
</div>
<div class="odd">
	<div>Vitamin C (%)</div>
	<div></div>
	<div></div>
</div>
<div class="even">
	<div>Calcium (%)</div>
	<div></div>
	<div></div>
</div>
<div class="odd">
	<div>Iron (%)</div>
	<div></div>
	<div></div>
</div>