<div class="row header">
	<div class="col-xs-2"><button>Back</button></div>
	<div class="col-xs-8"><h1>Recent</h1></div>
	<div class="col-xs-2"><button>Add</button></div>
</div>

<div class="row infoBar">
	<div class="col-xs-6">Food Item</div>
	<div class="col-xs-3">Left</div>
	<div class="col-xs-3">Total</div>
</div>

<!-- add np-repeat --> 
<div class="row">
	<div class="col-xs-1"><input type="checkbox"></div>
	<div class="col-xs-5">Banana</div>
	<div class="col-xs-3"><input type="number" value="1"></div>
	<div class="col-xs-3">125</div>
</div>