<div class="row header">
	<div class="col-xs-2"></div>
	<div class="col-xs-8"><h1>Settings</h1></div>
	<div class="col-xs-2"><button class="btn btn-sm">Save</button></div><!-- SAVE BUTTON FOR CUSTOM FEATURES -->
</div>

<div class="row">
	<select>
		<option>Default</option>
		<option>Custom</option>
	</select>
</div>

<div class="row">
	<div class="col-xs-9">Calories</div>
	<div class="col-xs-3 textRight">2000</div>
</div><!-- REPEAT THIS STRUCTURE FOR ALL THE FOLLOWING

	Calories
	Total Fat (g)
	Saturated (g)
	Polyunsaturated (g)
	Monosaturated (g)
	Trans (g)
	Cholesterol (mg)
	Sodium (mg)
	Potassium (mg)
	Total Carbs (g)
	Dietary Fiber (g)
	Sugars (g)
	Protein (g)
	Vitamin A (%)
	Vitamin C (%)
	Calcium (%)
	Iron (%)
-->

<div class="row">
	<div class="col-xs-9">Calories</div>
	<div class="col-xs-3"><input type="number" value="2000" class="setting"></div>
</div><!-- THIS IS THE TEMPLATE WHEN THEY SELECT CUSTOM -->

<div class="row">
	<button>Save</button><!-- POTENTIAL NECESSARY REDUNDANT SAVE BUTTON THAT APPEARS WITH CUSTOM SELECTION -->
</div>