<div class="row header">
	<div class="col-xs-2"></div>
	<div class="col-xs-8"><h1>Settings</h1></div>
	<div class="col-xs-2 headerBtn"><button class="btn btn-sm floatRight"><span class="glyphicon glyphicon-ok"></span> Save</button></div><!-- SAVE BUTTON FOR CUSTOM FEATURES -->
</div>

<div class="row">
	<select>
		<option>Default</option>
		<option>Custom</option>
	</select>
</div>

<div class="row">
	<div class="col-xs-9">Calories</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Total Fat (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Saturated (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Polyunsaturated (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Monosaturated (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Trans (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Cholesterol (mg)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Sodium (mg)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Potassium (mg)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Total Carbs (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Dietary Fiber (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Sugars (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Protein (g)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Vitamin A (%)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Vitamin C (%)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Calcium (%)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<div class="row">
	<div class="col-xs-9">Iron (%)</div>
	<div class="col-xs-3 textRight">2000</div>
</div>
<!--
	Calories
	Total Fat (g)
	Saturated (g)
	Polyunsaturated (g)
	Monosaturated (g)
	Trans (g)
	Cholesterol (mg)
	Sodium (mg)
	Potassium (mg)
	Total Carbs (g)
	Dietary Fiber (g)
	Sugars (g)
	Protein (g)
	Vitamin A (%)
	Vitamin C (%)
	Calcium (%)
	Iron (%)
-->

<div class="row">
	<div class="col-xs-9">Calories</div>
	<div class="col-xs-3"><input type="number" value="2000" class="setting floatRight"></div>
</div><!-- THIS IS THE TEMPLATE WHEN THEY SELECT CUSTOM -->

<div class="row">
	<button class="btn btn-sm"><span class="glyphicon glyphicon-ok"></span> Save</button><!-- POTENTIAL NECESSARY REDUNDANT SAVE BUTTON THAT APPEARS WITH CUSTOM SELECTION -->
</div>